@()

@main("Acceuil") {
 
<body>
    


<nav> 
        <a href="/" style="text-decoration:none" class="anav">Acceuil</a> 
        <a href="/ajoutUser" style="text-decoration:none" class="anav">Inscription</a> 
        <a href="/login" style="text-decoration:none" class="anav">Connexion</a>
</nav>
    

    <section class="sec">
        <article class="description">
            <h2>Description du site </h2>
            <p>L’objectif est d’implémenter un site web permettant d’ajouter des produits acheter en magasin (manuellement ou avec le code barre si on y arrive) en fonction du nom du produit, de la famille de produit (viande, légume, fruit…) du type du produit (jambon fumé pour une viande par exemple), de la quantité et de la date de péremption. L’utilisateur pourra donc ajouter ses produits, consulter les produits ajouter, supprimer les produits après consommation (manuellement ou avec le code barre). Le site permettra d’avertir l’utilisateur des produits à consommer, proposera des recettes à l’utilisateur en fonction de tous les produits disponibles dans son frigo ou uniquement des produits qui doivent être consommer. Pour que l’utilisateur puisse accéder à toutes ces fonctionnalités il devra s’inscrire ou se connecter à son compte.</p>
    
        </article>
         <ul class="experience">
          
                  <article>
           
            <h2><a href="ajoutUser"style="text-decoration:none">Inscription</a></h2>
					<p><li>Condition d'inscription:</li></p>

					<li> Vous devez renseigner les informations suivantes pour vous connecter au site:</li>
    
    <li>Nom</li>
    <li>Prénom</li>
    <li>Mot de passe</li>
    <li>Adresse e-mail</li>
    <li>Création d'un mot de passe</li>
        </article>
          
         </ul>
    <ul class="divinfo">
         
         <article>
        <h2> Plats</h2>
        
				
<p>Vous recherchez une idée de recette pour régaler vos invités un soir ? Pour savoir quel type de repas concocter, Régal vous propose toutes sortes de recettes de plats simples et rapides à faire en quelques minutes. Gratin, salade, plat à base de pâtes ou de légumes... Trouvez la bonne idée de recette en fonction de vos envies. Sur Régal, ce sont plus de 2 000 suggestions de plats principaux que nous vous proposons. De quoi préparer des repas diversifiés facilement chaque jour !</p>
 <a href="https://www.marmiton.org/recettes/top-internautes-plat-principal.aspx" target="_blank" style="text-decoration:none">Chercher sur Marmiton</a>
						

				
        </article>
       
            
		</ul>    
    
    <ul class="competence">
        
		     <article>
           
            <h2>Produits</h2>
					<p><li>Categories:</li></p>

					<li> Voici la liste des produits que vous pourrez reinseinger sur le site:</li>
    
    <li>Viandes – poissons – œufs,</li>
    <li>Produits laitiers</li>
    <li>Céréales et dérivés – légumineuses</li>
    <li>sucres et produits sucrés,</li>
    <li>Création d'un mot de passe</li>
        </article>
    </ul>
        
        
        <ul class="langue">
         
         <article>
            
				<h2>Plus de recettes</h2> 
        
					
						
 <li href="https://www.enviedebienmanger.fr/idees-recettes/recettes-plat" target="_blank" style="text-decoration:none">Découvrez toutes nos idées de recettes pour préparer un plat principal</li>
<p><li>
Vous prévoyez d’inviter vos amis à dîner, ou vous ne savez pas quels plats cuisiner pour le déjeuner ? Pas toujours facile de trouver l’inspiration : élaborer un menu peut devenir un vrai casse-tête. Comme satisfaire les goûts de tout le monde est loin d’être facile, dans notre rubrique "plat principal", vous trouverez sans aucun doute votre bonheur et l'idée recette qui ravira vos convives. Côté recettes traditionnelles, la recette de la blanquette de veau et celle du gratin dauphinois connaîtront un franc succès. Pour une cuisine rapide, optez pour un plat de tagliatelles au saumon fumé ou un gratin de pâtes. Et si vous cherchez l’inspiration hors de nos frontières, essayez-vous à la recette de la quiche lorraine à la ricotta et au parmesan ou à la tortilla d’oignons et chorizo.</li>
</p>
                		

        </article>
         
    </ul>
    
        
    </section> 
    
    <footer>
    <section class="section2">
        
      
        <article class="article1">     
            <p>Joel HAAG </p>
           
        </article>
        
        <article class="article1"> 
            <p>Rijarifetra RAVAKA</p>
   
        </article>
        
        <article class="article1"> 
            <p>Guillaume KRAUTH</p>
          
        </article>
        
     </section> 



        <footer>         

            
            <article class="foot">
                 
                <li> ©Copyright 2020 La Trinité</li>
            <li><a href="#">Nous contacter</a></li> 
                    </article>
          
                 
</footer>
          
                 
</footer>

</body>
  

}
