@(user : User, lform : Form[Produit] )(implicit request : play.mvc.Http.Request, messages : play.i18n.Messages)

@main("Ajout des Produits"){


<h1> Ajout produit dans @user.getprenom()</h1>
@helper.form(action = routes.HomeController.produitOk(user.getidUser())){

@helper.CSRF.formField
@helper.inputText(lform("nomProduit") , '_showConstraints -> false , '_label -> "Nom du produit")
@helper.select( field = lform("Famille du Produit") , options = Seq ("Viande" -> "Viande" , "Legume" -> "Légume"), '_showConstraints -> false)
@helper.inputText(lform("Type du Produit"), '_showConstraints -> false)
@helper.inputDate(lform("Date de peremption"), '_showConstraints -> false)
@helper.input(lform("Nombre des Produits"), '_showConstraints -> false) { (id , name , value , args) =>
<input type = "number" name = "@name" id = "@id" @toHtmlArgs(args)>




}

<input type = "submit"  value = "Enregistrer"/>


}
}