@(user : User, lform : Form[Produit] )(implicit request : play.mvc.Http.Request, messages : play.i18n.Messages)

@main("Ajout des Produits"){


<h1 class="h1log" id="h1logprofil"> Ajouter un produit dans votre liste de produits</h1>

<div class = "divform" id="modifprofil">
@helper.form(action = routes.HomeController.produitOk(user.getidUser())){

@helper.CSRF.formField
@helper.inputText(lform("nomProduit") , '_showConstraints -> false , '_label -> "Nom du Produit")
@helper.select( field = lform("familleProduit") , options = Seq ("Viande" -> "Viande" , "Legume" -> "Légume", "Fruit" -> "Fruit", "Boisson" -> "Boisson" , "Poisson" -> "Poisson", "oeuf" -> "oeuf" , "autre" -> "autre"), '_showConstraints -> false, '_label -> "Famille du produit")
@helper.inputText(lform("typeProduit"), '_showConstraints -> false, '_label -> "Type du produit (exemple : jambon)")
@helper.inputDate(lform("datePeremption"), '_showConstraints -> false, '_label -> "Date de péremption")
@helper.input(lform("nmbProduit"), '_showConstraints -> false, '_label -> "Nombre de produits") { (id , name , value , args) =>
<input type = "number" name = "@name" id = "@id" @toHtmlArgs(args)>




}

<input type = "submit"  value = "Enregistrer"/> <a href="/rechercheUser/@user.getidUser()">retour</a>


}
</div>
}