@(lform : Form[User])(implicit request : play.mvc.Http.Request, messages : play.i18n.Messages)

@main("Inscription"){
<nav> 
        <a href="/" style="text-decoration:none" class="anav">Acceuil</a> 
        <a href="/ajoutUser" style="text-decoration:none" class="anav">Inscription</a> 
        <a href="/login" style="text-decoration:none" class="anav">Connexion</a>
</nav>


<h1 class="h1log"> Inscription </h1>
<div class="divform">
@helper.form(action = routes.HomeControllerUser.userOk()){

@helper.CSRF.formField
@helper.inputText(lform("prenom") , '_showConstraints -> false, '_label -> "Prénom")
@helper.inputText(lform("nom") , '_showConstraints -> false, '_label -> "Nom")
@helper.inputDate(lform("age"), '_showConstraints -> false, '_label -> "Date de naissance")
@helper.inputText(lform("email") , '_showConstraints -> false, '_label -> "E-mail")
@helper.inputPassword(lform("mdp") , '_showConstraints -> false, '_label -> "Mot de passe")
<input type = "submit"  value = "Enregistrer"/>
}

</div>



}