@(lform : Form[User])(implicit request : play.mvc.Http.Request, messages : play.i18n.Messages)

@main("Ajout des User"){

@helper.form(action = routes.HomeControllerUser.userOk()){

@helper.CSRF.formField
@helper.inputText(lform("prenom") , '_showConstraints -> false, '_label -> "Prénom")
@helper.inputText(lform("nom") , '_showConstraints -> false, '_label -> "Nom")
@helper.inputDate(lform("age"), '_showConstraints -> false, '_label -> "Date de naissance")
@helper.inputText(lform("email") , '_showConstraints -> false, '_label -> "E-mail")
@helper.inputPassword(lform("mdp") , '_showConstraints -> false, '_label -> "Mot de passe")
<input type = "submit"  value = "Enregistrer"/>
}





}