@( listepasbon : List[Produit] , listeamanger : List[Produit],  user : User)

@main(" User ok" ){
<h1 class="h1log" id="h1logprofil"> Produits à manger: </h1>
<section class="secamanger" >

    <article class = "articleamanger">


<h4 class="h4amanger">A consomer avant 4 jours ou moins </h4>

@for(a <- listeamanger){
          @if(a.getUser.getidUser == user.getidUser){
          <li class="liliste">

<a href ="@routes.HomeController.rechercheProduit(a.getid())">@a.getnomProduit()</a>



</li>
          
          }
       }

</article>

<article class = "articleamanger">
<h4 class="h4amanger"> Périmé :</h4>

@for(b <- listepasbon){
          
          @if(b.getUser.getidUser == user.getidUser){
          
          <li class="liliste">

<a href ="@routes.HomeController.rechercheProduit(b.getid())">@b.getnomProduit()</a>



</li>
          }
          
       }
</article>

</section class="secamanger">
<a href="/rechercheUser/@user.getidUser()">retour</a>
}