@(lform : Form[User], idUser : Long)(implicit request : play.mvc.Http.Request, messages : play.i18n.Messages)

@main("Ajout des User"){

<h1 class="h1log" id="h1logprofil"> Modification du Profile </h1>

<div class = "divform" id="modifprofil">
@helper.form(action = routes.HomeControllerUser.majUserOk(idUser)){


@helper.CSRF.formField
@helper.inputText(lform("prenom") , '_showConstraints -> false)
@helper.inputText(lform("nom") , '_showConstraints -> false)
@helper.inputDate(lform("age"), '_showConstraints -> false)
@helper.inputText(lform("email") , '_showConstraints -> false)
@helper.inputText(lform("mdp") , '_showConstraints -> false)
<input type = "submit"  value = "Enregistrer"/>

}

</div>


}
