@(produit : Produit)

@main(" Produit ok" ){

<h4> Voici votre produit @produit.getnomProduit. Il vous en reste @produit.getnmbProduit(). Ce produit doit etre consommer avant le @produit.getdatePeremption(). <h4>


<a href="@routes.HomeController.supprimerProduit(produit.getid)"> Effacer ce produit</a>
<a href = "@routes.HomeController.majProduit(produit.getid)" > Mettre le produit à jour</a>

<a href = "@routes.HomeControllerUser.rechercheUser(produit.getUser.getidUser)"> Retour </a>
}