@(user : User)

@main("Profil" ){

<h1 class = "h1profil">  Bonjour @user.getprenom @user.getnom</h1>
<nav >
<a href = "@routes.HomeControllerUser.majUser(user.getidUser)" class="anav" > Mettre le produit à jour</a>
<a href ="@routes.HomeController.ajoutProduit(user.getidUser)" class="anav"> Ajouter un produit </a>

<a href = "@routes.HomeControllerUser.amanger(user.getidUser())" class="anav">Voir produit à consommer</a>

<a href="/login" class="anav"> Deconnexion</a>

</nav>

<h2 class="h2user"> Nombre de produits dans la liste : @user.produit.size()</h2>




<article class ="divliste">
<h4>Liste des produits:</h4>
@for(p <- user.produit){
          <li class="liliste">

<a href ="@routes.HomeController.rechercheProduit(p.getid())" class="aliste"> Produit num @p.getid() : @p.getnomProduit() </a>



</li>
          
          
          
          
          
          }

</article>

}