@(user : User)

@main(" User ok" ){

<h1>  Bonjour @user.getprenom @user.getnom</h1>

<a href = "@routes.HomeControllerUser.majUser(user.getidUser)" > Mettre le produit à jour</a>



<h2> Nombre de produit ajouté : @user.produit.size()</h2>
<a href ="@routes.HomeController.ajoutProduit(user.getidUser)" > Ajouter un produit </a>

<a href = "@routes.HomeControllerUser.amanger(user.getidUser())">Voir produit à consommer</a>

<a href="/login"> Deconnection</a>



<h4>Liste des produits</h4>
@for(p <- user.produit){
          <li>

<a href ="@routes.HomeController.rechercheProduit(p.getid())">@p.getnomProduit() </a>



</li>
          
          
          
          
          
          }



}